In [1]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite') # connection with a sqlite database connect("Path")
db

In [2]:
db = sqlite3.connect('IMDB_1.sqlite') # connect checks if the file is present and if not, then a file is created
db

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor()
cur

In [7]:
sql_query = 'Create table Stu (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [8]:
cur.execute('Insert into Stu values (101, "Aman", 20)')

In [9]:
db.commit()

In [10]:
cur.execute('Insert into Stu values (102, "Amit", 21)')

In [11]:
db.commit()

In [12]:
db.close()

In [13]:
cur.execute('Insert into Stu values (102, "Amit", 21)')

ProgrammingError: Cannot operate on a closed database.